* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

header {
    max-width: 1730px;
    margin: auto;
    display: flex;
    padding: 40px 120px;
    justify-content: space-between;

    & nav,
    nav ul {
        display: flex;
        align-items: center;
        gap: 51px;

        & li a {
            color: #6b7280;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.02;
        }

        & li:first-child a {
            color: #000;
            font-weight: 600;
        }

        & button {
            background: #1f1f39;
            padding: 8.07px;
            border-radius: 8.07px;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            border: none;

        }
    }
}

section {
    max-width: 1730;
    margin: auto;
    padding: 120px;
}

.Home {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;


    & .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    & h1 {
        color: #1f1f39;
        font-size: 70px;
        font-weight: 60px;
    }

    & p {
        font-size: 28px;
        line-height: 48px;
        color: #1f1f39b2;
    }

    & button {
        width: Fixed (246.49px)px;
        padding: 18.87px;
        border: none;
        border-radius: 10.87px;
        background: #1f1f39;

        font-size: 24.24px;
        font-weight: 700;
        color: #fff;

    }
}

.Portfolio {
    & h2 {
        max-width: 980px;
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 109px;
    }

    & img {
        width: 400px;
        width: 100%;
    }
}

.About {
    background: #000;
    color: #fff;

    & h2 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 29px;
    }

    & .content {


        & h3 {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 55px;
        }

        & button {
            padding: 18px 63px;
            border-radius: 10.87px;
            border: none;
            background: #fff;
            font-weight: 700;
            font-size: 24px;

        }
    }
}

.footer {
    max-width: 1730px;
    margin: auto;
    padding: 50px 120px;
    background: #000;
    border-top: 1px solid #4f4f4f;
    color: #4f4f4f;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & icons {
        display: flex;
        gap: 30px;

        & img {
            cursor: pointer;
        }
    }
}